<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div *ngIf="status then showCourse else showLoadingScreen"></div>
            <ng-template #showCourse>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Descripition</th>
                    <th scope="col">Date</th>
                    <th scope="col">Venue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of courseData">
                    
                    <td>{{i.courseTitle}}</td>
                    <td>{{i.courseDuration}}</td>
                    <td>{{i.courseDescription}}</td>
                    <td>{{i.courseDate}}</td>
                    <td>{{i.courseVenue}}</td>
                  </tr>
              
                </tbody>
              </table>
            </ng-template>
            <ng-template #showLoadingScreen>
              <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template>
        </div>
    </div>
</div>
