<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Course Title :</label>
                    <input type="text" class="form-control" name="courseTitle" [(ngModel)]="courseTitle">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Duration :</label>
                    <input type="text" class="form-control" name="courseDuration" [(ngModel)]="courseDuration">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Description :</label>
                    <textarea name="courseDescription" id="" cols="30" rows="10" class="form-control" [(ngModel)]="courseDescription"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Date :</label>
                    <input type="date" name="courseDate" id="" class="form-control" [(ngModel)]="courseDate">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Venue :</label>
                    <input type="text" class="form-control" name="courseVenue" [(ngModel)]="courseVenue">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" [disabled]="status" (click)="readValues()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

